<a href="https://colab.research.google.com/github/fabiosuniga/pyhton_projects/blob/main/estudosPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CRIA UMA LISTA NOVA APENAS COM VALORES UNICOS

In [59]:
def unique_list(lst):
  new_lst = []
  for x in lst:
    if x not in new_lst:
      new_lst.append(x)
  return new_lst

lst = [1,1,1,1,2,2,3,3,3,3,4,5]
print(unique_list(lst))

[1, 2, 3, 4, 5]

O CODIGO ABAIXO DIZ QUANTAS LETRAS MINUSCULAS E MAIUSCULAS O TEXTO POSSUI

In [53]:
def up_low(s):
  low = 0
  high = 0

  for char in s:
    if char.isupper():
      high += 1
    elif char.islower():
      low += 1

  print(f'Numbers of low letters: {low} and High letter: {high}')

s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Numbers of low letters: 33 and High letter: 4

O CODIGO ABAIXO CHECA SE O PRIMEIRO NUMERO DA FUNÇÃO ESTA NO ALCANCE DO MENOR E DO MAIOR PASSADO POR ELA TAMBÉM

In [41]:
def ran_check(num, low, high):
  range_list = []
  for i in range(low, high+1):
    range_list.append(i)
  return num in range_list

ran_check(5,2,7)

True

O CODIGO ABAIXO REALIZA UMA FUNÇÃO DE VOLUME E UM LAMBDA QUE FAZ A MESMA COISA

In [10]:
import math

def vol(rad):
  return ((4/3) * math.pi * (rad ** 3))

volume = lambda x: (4/3) * math.pi * (x**3)
print(volume(2))

33.510321638291124

O CODIGO RETORNA VERDADEIRO SE O NUMERO 0 0 7 APARECER NESTA ORDEM NA LISTA, NÃO NECESSARIAMENTE EM SEGUIDA

In [ ]:
number = [1,2,0,4,0,7,5]

def spy_game(numbers):
  code = [0,0,7,'x']
  for x in numbers:
    if x == code[0]:
      code.pop(0)

  return len(code) == 1

print(spy_game(number))

True

O CODIGO ABAIXO RETORNA APENAS RESULTADOS FORA DO ALCANCE COMEÇANDO EM 6 ATÉ 9, O RESTO ELE SOMA

In [ ]:
num = [4,5,6,7,8,9]

def summer_69(numbers):
  result = 0
  add = True

  for x in numbers:
    while add:
      if x != 6:
        result += x
        break
      else:
        add = False
      while not add:
        if x != 9:
          break
        else:
          add = True
  return result

print(summer_69(num))

9

O CODIGO ABAIXO MULTIPLICA CADA LETRA DA PALAVRA POR 3

In [ ]:
text = 'Hello'

def paper_dool(text):
  word = ''
  for char in text:
    word += char *3
  return word



print(paper_dool(text))

HHHeeellllllooo

O CODIGO ABAIXO RETORNA VERDADEIRO SE TIVER DOIS NUMEROS 3 EM SEQUENCIA

In [ ]:
numbers = [1,3,1,1,1,3,3]

def has33(list_num):
  for x in range(0, len(list_num)):
    if list_num[x] == 3 and list_num[x+1] == 3:
      return True
  return False

print(has33(numbers))

True

O CODIGO ABAIXO REVERTE A ORDEM DAS PALAVRAS DE UMA FRASE

In [ ]:
text = 'i am home'

def yoda_reverse(text):
  new_text = text.split()
  new_text = new_text[::-1]
  return ' '.join(new_text).capitalize()

print(yoda_reverse(text))

Home am i

O CODIGO ABAIXO PEGA O FUNCIONARIO COM MAIS HORAS REGISTRADAS

In [ ]:
work_hours = [('Abby', 200), ('Fabio', 800), ('Pietra', 400)]

def best_employee(employee):
  max_hours = 0
  employee_top = ''

  for name,hours in employee:
    if hours > max_hours:
      max_hours = hours
      employee_top = name
  return (employee_top, max_hours)

print(best_employee(work_hours))

('Fabio', 800)

O CODIGO ABAIXO FILTRA APENAS NUMEROS PARES

In [ ]:
def even_list(num_list):
  new_list = []
  for number in num_list:
    if number % 2 == 0:
      new_list.append(number)
  return new_list

print(even_list([1,2,3,4,5,6]))

[2, 4, 6]

O CODIGO ABAIXO FILTRA NUMEROS DE 1 A 10 E SÓ PEGA SE A RAIZ QUADRADA DO NUMERO FOR MAIOR QUE 50

In [ ]:
mylist = [num**2 for num in range(0,11) if num**2 >= 50]
print(mylist)

[64, 81, 100]

O CODIGO ABAIXO CONVERTE DE MILHAS PARA QUILOMETROS

In [ ]:
milhas = [10, 50, 100, 2]

quilometros = list(map(lambda x: x*1.6 , milhas))
print(quilometros)

[16.0, 80.0, 160.0, 3.2]

O CODIGO ABAIXO FILTRA O JOGADOR DO MELHOR PRO PIOR EM SCORE

In [ ]:
placar = [
    {'nome': 'Player1', 'score': 1500},
    {'nome': 'NoobMaster', 'score': 500},
    {'nome': 'ProGamer', 'score': 3000}
]

placarOrdenado = sorted(placar, key= lambda x: x['score'], reverse = True)
print(placarOrdenado)

[{'nome': 'ProGamer', 'score': 3000}, {'nome': 'Player1', 'score': 1500}, {'nome': 'NoobMaster', 'score': 500}]

O CODIGO ABAIXO FILTRA APENAS EMAILS

In [ ]:
dados = ["user1@gmail.com", "foto.png", "admin@site.org", "relatorio.pdf", "suporte@empresa.com"]

emails = [x for x in dados if '@' in x ]
print(emails)

['user1@gmail.com', 'admin@site.org', 'suporte@empresa.com']

O CODIGO ABAIXO CALCULA UMA VENDA DE ITEM

In [ ]:
goldPiece = int(input("How much golden pieces do you have?: "))

shopItems = {'Life Potion': 35, 'Sword': 100, 'Shield': 40}

for name, value in shopItems.items():
  print(f'Name: {name}, Value(GP): {value}')

if goldPiece >= shopItems['Life Potion']:
  goldPiece -= shopItems['Life Potion']
  print(f'\nLife potion aquired! your new gold balance are {goldPiece} gold pieces.')

else:
  print('Insuficient gold pieces for this puchase')

How much golden pieces do you have?: 60
Name: Life Potion, Value(GP): 35
Name: Sword, Value(GP): 100
Name: Shield, Value(GP): 40

Life potion aquired! your new gold balance are 25 gold pieces.